*, *::before, *:after{
    box-sizing: border-box;
}

::-webkit-scrollbar {  
    width: 15px;
    background: white;
    width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #111;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #111;
}

*{
    scrollbar-color: #111 white;
    scrollbar-width: thin; 
}

html{
    scroll-behavior: smooth;  
    scrollbar-color: white #111;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {  
    width: 15px;
    background: #111;
}

body::-webkit-scrollbar-thumb {
	background-color: #fff;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgb(89, 211, 252);
}

body{
    font-family: "Rubik", sans-serif;
    margin: 0;
    cursor: url("../images/cursor.png"), pointer;
    scrollbar-color: #111 white;
    scrollbar-width: thin; 
    overflow-y: auto;
    overflow-x: hidden;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

body.active{
    overflow: hidden;
}

.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 10000;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 3px solid #fff; 
    border-radius: 5px;
}

/*Création du burger */
 
.burgerBtn{
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burgerBtn::before, .burgerBtn::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burgerBtn::before{
    transform: translateY(-16px);
}

.burgerBtn::after{
    transform: translateY(16px);
}

/* Animation du burger*/

.burger.active{
    border-radius: 50px;
}

.burger.active .burgerBtn{
    transform: translateX(-50px);
    background: transparent;
}

.burger.active .burgerBtn::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.burger.active .burgerBtn::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

nav{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
}

nav.active{
    visibility: visible;
}

nav span{
    position: absolute;
    top: -100%;
    height: 100%;
    width: 25%;
    left: calc(25% * var(--i));
    transition: 0.20s;
    transition-delay: calc(0.20s * var(--i));
    background-color: rgba(18, 18, 196, 0.95);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

nav.active span{
    top: 0;
}

nav .link{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100px);
    list-style: none;
    text-transform: uppercase;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
    background-size: cover;
    background-position: center;
    z-index: 1001;
}

nav.active .link{
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
}

nav li{
    list-style: none;
    margin: 1rem;
}

nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

nav li a:hover{
    background-color: white;
    color: rgb(18, 18, 196);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    scroll-snap-align: center;
}

header, section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

header{
    height: 100vh;
}

.cross1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    border: dashed #111 20px;
    transform-origin: center;
    border-radius: 1px;
    top: 5%;
    left: 10%;
    color: white;
    transition: all .5s ease;
    animation: rotateInfinite 15s ease infinite alternate-reverse;
}

.cross1 svg{
    opacity: 0;
    transition: all 0.5s ease;
}

.cross1:hover svg{
    opacity: 1;
}

.cross2{
    position: absolute;
    width: 15%;
    height: 3%;
    background-color: #111;
    border-radius: 50px;
    transform: rotateZ(-50deg);
    bottom: 25%;
    right: 10%;
    transition: all .5s ease;
    -webkit-animation: disapear 10s cubic-bezier(.73,-0.05,.29,1.08) infinite;
            animation: disapear 10s cubic-bezier(.73,-0.05,.29,1.08) infinite;
}

.dis1{
    width: 10%;
    bottom: 20%;
    right: 10%;
    -webkit-animation: disapear 9s cubic-bezier(.73,-0.05,.29,1.08) infinite;
            animation: disapear 9s cubic-bezier(.73,-0.05,.29,1.08) infinite;

}

.dis2{
    width: 5%;
    bottom: 15%;
    right: 10%;
    -webkit-animation: disapear 8s cubic-bezier(.73,-0.05,.29,1.08) infinite;
            animation: disapear 8s cubic-bezier(.73,-0.05,.29,1.08) infinite;

}

.cross1:hover{
    border-color: white;
    border-style: double;
}


.container section{
    flex-direction: column;
    height: 100%;
}


h1{
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: 50px;
}

section h1{
    margin: 0;
    font-size: 2.5rem;
    position: absolute;
    z-index: 2;
    top: 3.5vh;
    left: 2.5vw;
    padding: 1.25rem;
}

section h1::before, section h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
}

section h1::before{
    top: 10px;
    left: 0;
    border-top: solid white;
    border-left: solid white;
    border-width: 7px;
}

section h1::after{
    bottom: 10px;
    right: 0;
    border-bottom: solid white;
    border-right: solid white;
    border-width: 7px;
}

header{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

header h1{
    font-size: 6rem;
    margin-left: 0;
    text-align: center;
}
        
header a svg{
   fill: white;
   transform: scale(3);
   position: absolute;
   bottom: 50px;
   -webkit-animation: bounce 1.5s ease-in-out infinite;
           animation: bounce 1.5s ease-in-out infinite;
   cursor: pointer;
}

header .textMouse{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    -webkit-animation: rotateInfinite 7.5s linear infinite;
            animation: rotateInfinite 7.5s linear infinite;
}

header .textMouse span{
    position: absolute;
    top: -100px;
    display: inline-block;
    text-transform: uppercase;
    transform-origin: 0 100px;
}

#s1{
    background-color: rgb(4, 60, 92);
    display: flex;
    justify-content: space-around;
}

.description{
    position: relative;
    z-index: 2;
    font-size: 1.25rem;
    width: 30%;
    height: auto;
    min-width: 300px;
    max-height: 350px;
    text-align: justify;
    background-color: #fff;
    padding: 1.25rem;
    margin: 125px 50px 50px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease;
    overflow: auto;
}

.description span{
    font-weight: bold;
    color: #23a6d5;
}

.description:hover{
    transform: translate(20px, 20px);
    box-shadow: none;
}

.moiPrincipal{
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    right: 5%;
    width: 45vw;
    height: 45vw;
    z-index: 3;
    transition: all 1s ease;
}

.moiPrincipal svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 55vw;
    transform: translate(-10%, -10%);
    -webkit-animation: rotateInfiniteSvg 30s linear infinite;
            animation: rotateInfiniteSvg 30s linear infinite;
}

@-webkit-keyframes rotateInfiniteSvg{
    0%{
        transform: translate(-10%, -10%) rotate(360deg);
    }
    100%{
        transform: translate(-10%, -10%) rotate(0deg); 
    }
}

@keyframes rotateInfiniteSvg{
    0%{
        transform: translate(-10%, -10%) rotate(360deg);
    }
    100%{
        transform: translate(-10%, -10%) rotate(0deg); 
    }
}

.moiPrincipal img{
    -webkit-mask-image: linear-gradient(black 70%, transparent 100%);
    mask-image: linear-gradient(black 70%, transparent 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 100%;
}


.moiSecondaire{
    position: absolute;
    top: 100vh;
    right: 45%;
    width: 350px;
    height: 350px;
    z-index: 1;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-animation: bulleUp 10s ease infinite, bulleMove 20s cubic-bezier(.57,-0.86,.37,1.84) infinite;
            animation: bulleUp 10s ease infinite, bulleMove 20s cubic-bezier(.57,-0.86,.37,1.84) infinite;
}

.moiSecondaire svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotateZ(145deg) scaleX(.8);
    width: 350px;
}

.moiSecondaire img{
    -webkit-mask-image: linear-gradient(black 70%, transparent 100%);
    mask-image: linear-gradient(black 70%, transparent 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    width: 300px;
}

.moiTertiaire{
    position: absolute;
    top: 100vh;
    right: 5%;
    width: 250px;
    height: 250px;
    z-index: 1;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-animation: bulleUp 10s ease infinite, bulleMove2 20s cubic-bezier(.57,-0.86,.37,1.84) infinite;
            animation: bulleUp 10s ease infinite, bulleMove2 20s cubic-bezier(.57,-0.86,.37,1.84) infinite;
}

.moiTertiaire svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotateZ(245deg) scaleX(.8);
    width: 250px;
}

.moiTertiaire img{
    -webkit-mask-image: linear-gradient(black 70%, transparent 100%);
    mask-image: linear-gradient(black 70%, transparent 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    z-index: 2;
    width: 200px;
}

.triple{
    -webkit-animation: bulleUp 8s ease infinite, bulleMove2 10s cubic-bezier(.57,-0.86,.37,1.84) infinite;
            animation: bulleUp 8s ease infinite, bulleMove2 10s cubic-bezier(.57,-0.86,.37,1.84) infinite;
}


.triple img{
    transform: translate(-40%, -50%) scaleX(-1);
}

.double{
    -webkit-animation: bulleUp 5s ease infinite, bulleMove 20s cubic-bezier(.57,-0.86,.37,1.84) infinite;
            animation: bulleUp 5s ease infinite, bulleMove 20s cubic-bezier(.57,-0.86,.37,1.84) infinite;
}


.double img{
    transform: translate(-65%, -50%) scaleX(-1);
}

.cvText{
    position: absolute;
    top: 34%;
    right: 19%;
    width: 70%;
    height: 8vw;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    padding: 0rem 1rem;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(40% 20%, 100% 20%, 100% 80%, 0 80%, 0 20%, 25% 20%, 50% 0);
            clip-path: polygon(40% 20%, 100% 20%, 100% 80%, 0 80%, 0 20%, 25% 20%, 50% 0);
    opacity: 0;
    transition: all .5s ease;
}

.cvText p{
    font-size: 1vw;
    color: white;
}

.cvText p span{
    font-weight: 700;
    color: rgb(32, 178, 122);
}

.hobbies{
    position: relative;
    z-index: 2;
    width: 40%;
    min-height: 20%;
    margin: 0px 50px 50px;
    color: white;
    overflow: auto;
}

.hobbies::-webkit-scrollbar {  
    width: 5px;
    background: #111;
}

.hobbies::-webkit-scrollbar-thumb {
	background-color: #fff;
    border-radius: 50px;
}

.iconeHobbie{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.hobbie{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobbie img{
    width: 30%;
    transition: all .75s ease;
}

.hobbie img:hover{
    transform: scale(1.4) rotate(360deg);
}

.hobbie span{
    margin-top: 15px;
    font-style: italic;
}

.hobbie p{
    text-align: center;
}

.hobbie a{
    text-decoration: none;
    font-weight: bold;
    color: springgreen;
}


#s2{
    position: relative;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.comp{
    position: relative;
    z-index: 5;
    width: 30%;
    height: 30%;
    background-color: #fff;
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.comp:hover{
    box-shadow: 15px 15px black;
    transform: translate(-15px, -15px);
}

.comp *{
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all 0.25s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.comp.active *{
    visibility: visible;
    opacity: 1;
    display: inherit;
}

.comp h2{
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    visibility: visible;
    opacity: 1;
    display: inherit;
}

.comp.active{
    justify-content: space-between;
    margin-top: 100px;
    height: auto;
    width: 45%;
    max-height: 75%;
    overflow: auto;
}

.comp.active .bar{
    width: 50%;
    height: 7vh;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    border: solid black;
}

.comp.active .progress{
    width: var(--level);
    height: 100%;
    background-color: var(--color);
    -webkit-animation: progress 2s ease;
            animation: progress 2s ease;
}

.comp.active .element{
    width: 100%;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.comp.active .element p{
    font-weight: 900;
    font-size: 1.5rem;
}

.comp.active .element img{
    width: 10%;
}

.wave1{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    -webkit-animation: waveX 7s linear infinite, waveY 7s ease infinite;
            animation: waveX 7s linear infinite, waveY 7s ease infinite;
    z-index: 2;
}

.wave2{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 200%;
    transform: scaleX(-1);
    -webkit-animation: waveX2 10s linear infinite, waveY 10s ease infinite;
            animation: waveX2 10s linear infinite, waveY 10s ease infinite;
    z-index: 1;
}

.wave3{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 200%;
    -webkit-animation: waveX 20s linear infinite, waveY 15s ease infinite;
            animation: waveX 20s linear infinite, waveY 15s ease infinite;
    z-index: 1;
}


@-webkit-keyframes waveY{
    0%, 100%{
        bottom: 0%;
    }
    50%{
        bottom: -10%;
    }
}


@keyframes waveY{
    0%, 100%{
        bottom: 0%;
    }
    50%{
        bottom: -10%;
    }
}

@-webkit-keyframes waveX{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

@keyframes waveX{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

@-webkit-keyframes waveX2{
    0%{
        transform: translateX(0%) scaleX(-1);
    }
    100%{
        transform: translateX(-50%) scaleX(-1);
    }
}

@keyframes waveX2{
    0%{
        transform: translateX(0%) scaleX(-1);
    }
    100%{
        transform: translateX(-50%) scaleX(-1);
    }
}

@-webkit-keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: var(--level);
    }
}

@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: var(--level);
    }
}

.container:nth-child(6){
    min-height: 100vh;
    height: auto;
}

#s3{
    background-color: #111;
}

#s3 img{
    position: relative;
    width: 30%;
    z-index: 3;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.bgSplit1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: lightskyblue;
    width: 50%;
    height: 100%;
    transition: all 0.5s ease;
}

.bgSplit2{
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 1;
    background-color: #04a683;
    width: 50%;
    height: 100%;
    transition: all 0.5s ease;
}


.formations{
    margin-top: 170px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.op{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
}

.op.split2{
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    transition: all 0.5s ease;
}

.op.split1{
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    transition: all 0.5s ease;
    flex-direction: row-reverse;

}

.parcour{
    position: relative;
    z-index: 2;
    width: 35%;
    height: auto;
    min-width: 400px;
    max-height: 350px;
    text-align: justify;
    background-color: #fff;
    padding: 1rem;
    margin: 50px 0px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease;
    overflow: auto;
}

.parcour h3{
    text-align: center;
}

.parcour span{
    text-align: center;
    display: block;
    font-weight: bold;
    color: #e02648;
}

.parcour b{
    color: #098058;
}

.parcour i{
    text-align: center;
    display: block;
    margin: 1rem;
    color: #098058;
}

.parcour:hover{
    transform: translate(20px, 20px);
    box-shadow: none;
}

.op img{
    border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    -webkit-animation: morph calc(var(--i) * 5s) ease infinite;
            animation: morph calc(var(--i) * 5s) ease infinite;
}

#logoHelpMMI{
    border-radius: 0%;
    -webkit-animation: none;
            animation: none;
}

#s4{
    position: relative;
    background-color: #570a96;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    position: relative;
    z-index: 3;
    width: 60%;
    max-height: 70%;
    height: auto;
    padding: 2rem 3rem;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(48, 15, 80);
    border: dashed rgb(156, 82, 224) 5px;
    border-radius: 50px;
    transition: all .5s ease;
}


.check{
    position: relative;
    width: 35%;
    height: 5%;
    margin: 1.25rem 0;
}

.check input{
    color: white;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0rem;
    background: none;
    border: none;
    border-bottom: solid white 4px;
    transition: all 0.25s ease;
}

.check label{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    color: white;
    transition: all 0.25s ease;
}

.check input:focus + label, .check input:not(:placeholder-shown) + label{
    transform: translateY(-110%);
    font-weight: bold;
    color: rgb(2, 220, 235);
}

.check input:focus, .check input:not(:placeholder-shown){
    border-bottom: solid rgb(2, 220, 235) 4px;
    outline: none;
}

.texte{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.texte textarea{
    border: solid 5px rgb(156, 82, 224);
    margin: .5rem 0rem;
    padding: .5rem;
    resize: none;
    transition: all .25s ease;
}

.texte label{
    color: white;
    transition: all .25s ease;
}

.texte textarea:focus, .texte textarea:not(:placeholder-shown){
    outline: none;
    border: solid 5px rgb(2, 220, 235);
}

.texte textarea:focus + label, .texte textarea:not(:placeholder-shown) + label{
    font-weight: bold;
    color: rgb(2, 220, 235);
}

#submit{
    width: 30%;
    height: 12%;
    border: solid 5px rgba(0, 0, 0);
    box-shadow: 0px 5px black;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    margin: .5rem auto;
    cursor: pointer;
    transition: all .25s ease;
}


#submit:hover{
    box-shadow: 0px 0px black;
    transform: translateY(5px);
    border: solid 5px rgb(156, 82, 224);
    background-color: #1b042e;
    color: white;
}

#submit:focus{
    background-color: rgb(2, 220, 235);
}

.shape1{
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 15%;
    width: 25vh;
    height: 25vh;
    background-color: #8f1feb;
    border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    -webkit-animation: morph 10s ease infinite;
            animation: morph 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shape2{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 10%;
    width: 50vh;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    -webkit-animation: morph 15s ease infinite;
            animation: morph 15s ease infinite;
}


@-webkit-keyframes morph {
    from {
        border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    }

    25% {
        border-radius: 25% 75% 46% 54% / 42% 46% 54% 58%;
    }

    50% {
        border-radius: 39% 61% 32% 68% / 59% 34% 66% 41%;
    }

    to {
        border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    }
}


@keyframes morph {
    from {
        border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    }

    25% {
        border-radius: 25% 75% 46% 54% / 42% 46% 54% 58%;
    }

    50% {
        border-radius: 39% 61% 32% 68% / 59% 34% 66% 41%;
    }

    to {
        border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
    }
}

footer{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
}

footer div{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoCV{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;
}

.mailFoot{
    width: 30%;
    height: 100%;
    color: white;
    font-size: 1.25rem;
}

.mailFoot img{
    width: 10%;
    margin-right: 10px;
}

#cvPDF{
    width: 60%;
    min-width: 80px;
    max-width: 100px;
}


@-webkit-keyframes bounce{
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 20px;
    }
    100%{
        bottom: 50px; 
    }
}

@keyframes bounce{
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 20px;
    }
    100%{
        bottom: 50px; 
    }
}

@-webkit-keyframes rotateInfinite{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg); 
    }
}

@keyframes rotateInfinite{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg); 
    }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}

@-webkit-keyframes disapear{
    0%{
        transform: scale(0, 0) rotateZ(-50deg);
    }
    50%{
        transform: scale(1, 1) rotateZ(-50deg);
    }
    100%{
        transform: scale(0, 0) rotateZ(-50deg);
    }
}

@keyframes disapear{
    0%{
        transform: scale(0, 0) rotateZ(-50deg);
    }
    50%{
        transform: scale(1, 1) rotateZ(-50deg);
    }
    100%{
        transform: scale(0, 0) rotateZ(-50deg);
    }
}

@-webkit-keyframes bulleUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-150vh); 
    }
}

@keyframes bulleUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-150vh); 
    }
}

@-webkit-keyframes bulleMove{
    0%{
        right: 20%;
    }
    20%{
        right: 10%;
    }
    40%{
        right:  35%;
    }
    60%{
        right: 20%;
    }
    80%{
        right:  35%;
    }
    100%{
        right: 20%;
    }
}

@keyframes bulleMove{
    0%{
        right: 20%;
    }
    20%{
        right: 10%;
    }
    40%{
        right:  35%;
    }
    60%{
        right: 20%;
    }
    80%{
        right:  35%;
    }
    100%{
        right: 20%;
    }
}

@-webkit-keyframes bulleMove2{
    0%{
        right: 0%;
    }
    20%{
        right: 40%;
    }
    100%{
        right: 0%;
    }
}

@keyframes bulleMove2{
    0%{
        right: 0%;
    }
    20%{
        right: 40%;
    }
    100%{
        right: 0%;
    }
}

@media (max-width : 1100px) {
    .op.split1, .op.split2, .parcour{
        flex-direction: column;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .parcour:hover{
        transform: none;
    }
}

@media (max-width : 830px) {

    #s1{
        justify-content: space-around;
        align-items: center;
    }

    .description{
        width: 80%;
        height: 40%;
    }

    .hobbies{
        width: 80%;
        height: 40%;
    }

    .moiPrincipal{
        display: none;
    }

    form{
        height: 60%;
    }
}

@media (max-width : 768px) {

    .textMouse{
        display: none;
    }
}

@media (max-width : 690px) {

    .comp.active .bar{
        display: none;
    }

    .comp.active .element img{
        width: 30%;
    }

    .comp h2{
        font-size: 1.5rem;
    }

    #submit{
        width: 70%;
    }
}